<p id="notice"><%= notice %></p>

<table style="width:100%">
  <tr>
    <td><h2>Total Income</h2><h3><%= current_user.total_income %></h3></td>
    <td><h2>Total Cost</h2><h3><%= current_user.total_cost %></h3></td>
    <td><h2>Total Balance</h2><h3><%= current_user.total_balance %></h3></td>
  </tr>
</table>

<table style="width:100%">
<% if @category %>
  <% if @category.errors.size > 0 %>
    <div id="error_explanation">
      <%- if @category.errors %>
        <%= @category.errors.full_messages.join(", ") %>
      <% end %>
    </div>
  <% end %>
<% end %>
  <tr>
    <td>
      <%= form_tag "/categories/", method: :post do %>
        <%= label_tag :date %>
        <%= date_select("date", "on", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }) %>
        <%= label_tag :name %>
        <%= text_field_tag :name %>
        <%= label_tag :amount %>
        <%= text_field_tag :amount %>
        <%= submit_tag "Insert the expense" %>
      <% end %>
    </td>
  </tr>
</table>

<table style="width:100%">
  <tbody>
  <tr>
    <th style="width:10%">Date</th>
    <th style="width:20%">Name</th> 
    <th style="width:10%">Amount</th>
  </tr>
    <%- @categories.each do |category| %>
      <%- category.incomes.each do |income| %>
	
		<tr>
          <td>
            <%- if category.date %>
              <%= category.date.strftime("%Y/%m/%d") %>
            <% else %>
              <%= income.created_at.strftime("%Y/%m/%d")  %>
            <% end %>
          </td>
          <td>
            <%= category.name %>
          </td>
	        <td>
	          <%= income.amount %>	
          </td>
          <td>
	          <%= link_to 'Destroy', "/categories/#{category.id}/incomes/#{income.id}", 
		          method: :delete, data: { confirm: 'Are you sure? Do you want to destroy this expense?' } %>
	        </br>
	        </td>
        </tr>
      <% end %>
      <%- category.costs.each do |cost| %>
        <tr>
          <td>
            <% if category.date %>
              <%= category.date.strftime("%m/%d/%Y") %>
            <% else %>
              <%= cost.created_at.strftime("%m/%d/%Y") %>
            <% end %>
          </td>
          <td>
            <%= category.name %>
          </td>
	        <td>
	          <%= cost.amount %>	
          </td>
          <td>
	          <%= link_to 'Destroy', "/categories/#{category.id}/costs/#{cost.id}", 
		          method: :delete, data: { confirm: 'Are you sure?' } %>
	        </br>
	        </td>
        </tr>
      <% end %>
	  <% end %>
  </tbody>
</table>
<br>
