<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {background-image:url(/assets/bg6.jpg);}
</style>
<body>
  
  <body>
<h1><b><center>My Wallet Application</center></b></h1>
  
  <% if notice %>
  <p class="alert alert-success"></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <h2>Welcome <strong><%= current_user.email %></strong></h2>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

<% end %>

<%= yield %>

</body>
</html>
